In [1]:
# tuple -

In [2]:
x =[8,6,78]

In [3]:
type(x)

list

In [5]:
x= (1,2,6,9)

In [6]:
type(x)

tuple

In [7]:
x

(1, 2, 6, 9)

In [8]:
x[0]=200

TypeError: 'tuple' object does not support item assignment

In [9]:
x = (1,2,3,4)

In [10]:
type(x)

tuple

In [11]:
x = 1,2,3,4,5

In [13]:
type(x)

tuple

In [14]:
x.index(5)

4

In [15]:
x.count(5)

1

In [16]:
# Dictionary- {Key:value} -pair

In [24]:
data = [{"id":102,"Name":"Rakesh","Marks":55},{"id":103,"Name":"Mukesh","Marks":95}]

In [19]:
data.keys()

dict_keys(['id', 'Name', 'Marks'])

In [21]:
data.values()

dict_values([102, 'Rakesh', 55])

In [22]:
import pandas

In [25]:
pandas.DataFrame(data)

    id    Name  Marks
0  102  Rakesh     55
1  103  Mukesh     95

In [32]:
x={}

In [33]:
type(x)

dict

In [34]:
x["Key1"] = "value1"

In [35]:
x

{'Key1': 'value1'}

In [36]:
x["Key1"] = "13"

In [38]:
x["key2"] = 23

In [40]:
x["key3"] = 34

In [41]:
x["key4"] = 101

In [42]:
x["key5"] = 50

In [43]:
x

{'Key1': '13', 'key2': 23, 'key3': 34, 'key4': 101, 'key5': 50}

In [44]:
x.pop("key2")

23

In [45]:
x

{'Key1': '13', 'key3': 34, 'key4': 101, 'key5': 50}

In [46]:
x.popitem()

('key5', 50)

In [47]:
x

{'Key1': '13', 'key3': 34, 'key4': 101}

In [48]:
x.clear()

In [51]:
x ={'Key1': '13', 'key3': 34, 'key4': 101, 'key5': 50}

In [53]:
del x["key3"]

In [54]:
x

{'Key1': '13', 'key4': 101, 'key5': 50}

In [55]:
# Sets - python's unordered data collection

In [56]:
# unordered - No Indexing

In [57]:
x = {3,4,5,6,7}

In [66]:
type(x)

list

In [67]:
x={1,1,1,2,2,2,5,5,5,10,10,10}

In [68]:
x

{1, 2, 5, 10}

In [69]:
#UNION - all but without repetition

In [70]:
x = {1,2,3,4,5}

In [71]:
y = {4,5,6,7,8,9}

In [72]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
#intersection - common

In [75]:
x

{1, 2, 3, 4, 5}

In [76]:
y

{4, 5, 6, 7, 8, 9}

In [78]:
x.intersection(y)

{4, 5}

In [79]:
# difference

In [80]:
x

{1, 2, 3, 4, 5}

In [81]:
y

{4, 5, 6, 7, 8, 9}

In [82]:
x-y

{1, 2, 3}

In [83]:
y-x

{6, 7, 8, 9}